* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
  }
  
  .menu-container {
    color: #E5E7EB;
    background-color: #1F2937;  /* Blue */
    padding: 20px 0;
    display: flex;
    font-family: "Roboto", serif;
    justify-content: center;
    font-size: 18px;
  }
  
  .menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    color: #F9FAF8;
    font-size: 24px;
  }

  .links {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 18px;
    color: #E5E7EB;

  }

  .login {
    margin-left: 10px;
    margin-right: 10px;
  }

.header-container {
  color: #E5E7EB;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text-container{
  width: 50%;
}
.header-image{
  width: 50%;
  margin-left: auto;
}

.header-subtext{
  text-align: left;
}

.flex-container{
  display: flex;
  justify-content: center;
}

.white-container{
  color: #1F2937;
  width: 900px;
  height: 300px;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.information-header{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;

}

.image-container{
  max-width: 100px;
}
.images-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 50px;
}

img{
  height: 100px;
  width: 100px;
}

.section3-container{
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.section3-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10em;
}
.section3-quote{
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.section3-author{
  align-self: flex-end;
}

.section4-container{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.section4-bluebox{
  background-color: #3882F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 40%;
  border: 2px solid #F9FAF8;
  border-radius: 0.5em;
}

.section4-heading{
  color: #F9FAF8;
}

.section4-subtext{
  color:#E5E7EB;
}

.section4-signupbtn{
  color: #F9FAF8;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  padding: 0.6em;
  border-radius: 0.5em;
}

.footer-container{
  background-color: #1F2937;
  display: flex;
  justify-content: center;
}

.footer{
  color: #E5E7EB;
  margin: 1em;
}